#task_5 {
	/*transition: all .2s linear;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.task_5 {
	display: flex;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#task_5_input {
	width: 20vw;
	height: 3vh;
	margin: 20px;
	text-align: center;
}
#task_5_button {
	width: 20vw;
	border-radius: 5px;
	font-size: 25px;
}